header {
    font-family: 'Noto Sans SC', sans-serif;
    color: #DA0037;
    background-color: rgb(68, 68, 68);
    padding: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px 0;
}

body {
    background-color: #DA0037;
    color: white;
    text-align: center;
    ul {
        list-style-position: inside;
        padding-left: 0;
        display: inline-block;
        text-align: left;
    }
}

nav {
    background-color: rgb(237, 237, 237);
}

.navbar-brand {
    background: url('logo.png') no-repeat center center;
    background-size: contain;
    width: 100px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    display: inline-block;
}

.about img {
    width: 300%; /* Make the image take the full width of its container */
    height: auto; /* Maintain aspect ratio */
}


#reviews {
    float: left;
    padding: 20px;
    width: 25%; /* Adjust width as needed */
    box-sizing: border-box;
}

footer {
    margin-top: 20px;
}
a {
    color: #007bff; /* Bootstrap link color */
}
a:hover {
    color: #0056b3; /* Darker link color on hover */
}



