header {
    font-family: 'Noto Sans SC', sans-serif;
    color: #DA0037;
    background-color: rgb(68, 68, 68);
    padding: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px 0;
}

body {
    background-color: #DA0037;
    color: white;
    text-align: center;
    ul {
        list-style-position: inside;
        padding-left: 0;
        display: inline-block;
        text-align: left;
    }
}

nav {
    background-color: rgb(237, 237, 237);
}

.navbar-brand {
    background: url('logo.png') no-repeat center center;
    background-size: contain;
    width: 100px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    display: inline-block;
}

.about img {
    width: 300%; /* Make the image take the full width of its container */
    height: auto; /* Maintain aspect ratio */
}

#about {
    margin-top: 20px;
    margin-top: 10px;
    width: 100ch;
    padding: 20px;
    background-color: rgb(68, 68, 68);
    color: rgb(237, 237, 237);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#reviews {
    padding: 100px;
    width: 50%; /* Adjust width as needed */
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}

.best-reviews {
    flex: 1;
    margin-right: 20px; /* Adjust spacing as needed */
}

.leave-review {
    flex: 1;
    text-align: right;
}

footer {
    margin-top: 20px;
}
a {
    color: #007bff; /* Bootstrap link color */
}
a:hover {
    color: #0056b3; /* Darker link color on hover */
}



