header {
    font-family: 'Noto Sans SC', sans-serif;
    color: #DA0037;
    background-color: rgb(68, 68, 68);
    padding: 10px;
}
body {
    background-color: #DA0037;
    color: white;
}
nav {
    background-color: rgb(237, 237, 237);
}

.navbar-brand {
    background: url('logo.png') no-repeat center center;
    background-size: contain;
    width: 100px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    display: inline-block;
}

.form-container {
    background-color: rgb(23, 23, 23);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
footer {
    margin-top: 20px;
}
a {
    color: #007bff; /* Bootstrap link color */
}
a:hover {
    color: #0056b3; /* Darker link color on hover */
}
.rewards-section {
    margin-top: 10px;
    padding: 20px;
    background-color: #000000;
    color: rgb(237, 237, 237);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.weekly-offers h2 {
    margin-top: 20px;
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(68, 68, 68);
    color: rgb(237, 237, 237);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}
.weekly-offers p {
    margin: 10px 0;
}
.divider {
    height: 2px;
    background-color: #343a40; /* Dark color for the divider */
    margin: 10px 0; /* Spacing above and below the divider */
}