/* Header styles */
header {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
}

body {
  font-family: 'Arial', sans-serif;
  background: #444444;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
}


/* Navbar styles */
.navbar {
  padding: 5px;
  padding-left: 20px;
  text-align: center;
}
.nav-item {
  padding: 0px 7px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
  color: grey; /* Bootstrap link color */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #0056b3; /* Darker link color on hover */
}

/* Footer styles */
footer {
  margin-top: 20px;
}

/* General link styles */
a {
  color: #007bff; /* Bootstrap link color */
}

a:hover {
  color: #0056b3; /* Darker link color on hover */
}

#location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location iframe {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  padding: 10px;
}

.picture-box {
  padding-top: 10px;
  margin: 20px auto;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
}

.img-fluid {
  width: 100%;
  height: auto;
}