/* General body styles */
.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

/* Header styles */
header {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 70px; /* Adjust this value based on the height of your navbar */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Main content styles */
main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Footer styles */
footer {
  flex: 0 30px;
}

/* Navbar styles */
.navbar {
  margin-bottom: 20px;
}

header {
  text-align: center;
  color :red;
}

.navbar-brand {
  color: black;
  text-align: center;
}

.navbar-nav .nav-item .nav-link {
  color: grey; /* Bootstrap link color */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #0056b3; /* Darker link color on hover */
}

/* Username display styles */
.username-display {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
}

/* General link styles */
a {
  color: grey; /* Bootstrap link color */
}

a:hover {
  color: grey; /* Darker link color on hover */
}

/* Media query for small height screens */
@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}